@model IEnumerable<SkoButik_Client.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center;">
    <h1>Inventory</h1>
<div />

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="container">
<div class="justify-content-center">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sizes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sizes.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId" class=" btn btn-outline-primary btn-sm">Edit</a> 
              @*   <a asp-action="Details" asp-route-id="@item.InventoryId">Details</a> *@ 
                <a asp-action="Delete" asp-route-id="@item.InventoryId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
