@model IEnumerable<SkoButik_Client.Models.ProductSizeInventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductSizeInventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductSizeInventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductSizeInventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
