@model SkoButik_Client.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-2 mx-auto" style="max-width: 620px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.ProductName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" width="100%" alt="@Model.ProductName">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Size: </b>
                            <select class="form-select" id="sizeSelect" asp-for="FkSizeId" asp-items="@ViewBag.Sizes">
                                <option value="">-- Select Size --</option>
                            </select>
                        </p>
                        <p class="card-text">
                            <b>Brand: </b>
                            @Model.Brand.BrandName
                        </p>
                        <p class="card-text" id="priceDisplay"><b>Price: </b>@Model.AdjustedPrice.ToString("c")</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white" id="addToCartBtn"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@Model.ProductId">
                                <i class="bi bi-cart-plus"></i> Add to Cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sizeSelect').change(function () {
                var sizeId = $(this).val();
                var productId = '@Model.ProductId';

                $.ajax({
                    url: '/Products/UpdateProductSize',
                    type: 'POST',
                    data: { productId: productId, sizeId: sizeId },
                    success: function (response) {
                        if (response.success) {
                            // Optionally update the price or other details if needed
                        } else {
                            alert('Error updating product size: ' + response.message);
                        }
                    },
                    error: function () {
                        alert('Error updating product size');
                    }
                });
            });
        });
    </script>
}